<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Projeto JSF Maven</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/resources/restrict/css/jsf.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/resources/restrict/images/favicon.ico"
		rel="shortcut icon" type="image/x-icon" />
</h:head>

<h:body>
	<div id="topo">
		<div id="logoff">
			<h:form>
				<br />
				<h5>
					<h:outputText
						value="Bem-vindo(a) #{bbUsuarioLogado.procuraPessoa().nome}!" />
				</h5>
				<br />
			</h:form>
		</div>
	</div>

	<div id="menu">
		<h:form>
			<p:menubar autoDisplay="false">
				<p:menuitem value="Home" url="/restrict/home.faces" />
				<p:submenu label="Cadastros">
					<p:menuitem value="Cidades" url="/restrict/cadastrarcidade.faces" />
					<p:menuitem value="Pessoas" action="#{mbPessoa.flushPessoa}"
						ajax="false" />
				</p:submenu>
				<p:submenu label="Consultas">
					<p:menuitem value="Pessoas" url="/restrict/consultarpessoa.faces" />
				</p:submenu>
				<p:menuitem value="Logout"
					url="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout" />
			</p:menubar>
		</h:form>
	</div>

	<div id="tarefas">
		<ui:insert name="tarefas"></ui:insert>
	</div>

	<div id="rodape">
		<div id="copyright">Projeto JSF - Java Server Faces com
			Hibernate, Maven e Spring Security - &copy; Copyright 2018</div>
	</div>
</h:body>
</html>