<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="./../resources/main.xhtml">

	<ui:define name="tarefas">
		<p:fieldset legend="Cadastrar Pessoas">
			<br />
			<h:form id="formPessoa">
				<p:wizard backLabel="Anterior" nextLabel="Próximo">
					<p:tab title="Informações Básicas" id="infoPessoal">
						<p:panel header="Informações básicas da pessoa">
							<p:growl id="msg0" />
							<h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid"
								id="grid0">
								<h:outputLabel value="" />
								<h:inputHidden id="idpessoa" value="#{mbPessoa.pessoa.idPessoa}" />

								<h:outputLabel for="nomePessoa" value="Nome:" />
								<p:inputText id="nomePessoa" size="40"
									value="#{mbPessoa.pessoa.nome}" required="true"
									requiredMessage="Campo [Nome] é obrigatório!"
									onkeyup="this.value = this.value.toUpperCase()" />

								<h:outputLabel for="sexoPessoa" value="Sexo:" />
								<p:selectOneMenu id="sexoPessoa"
									value="#{mbPessoa.pessoa.sexo.idSexo}">
									<f:selectItems value="#{bbSexo.sexos}" var="sexo"
										itemValue="#{sexo.idSexo}" itemLabel="#{sexo.descricao}"></f:selectItems>
								</p:selectOneMenu>

								<h:outputLabel for="telefonePessoa" value="Telefone:" />
								<p:inputMask mask="(99)99999-9999" id="telefonePessoa" size="40"
									value="#{mbPessoa.pessoa.telefone}" required="true"
									requiredMessage="Campo [Telefone] é obrigatório!"
									onkeyup="this.value = this.value.toUpperCase()" />

								<h:outputLabel for="emailPessoa" value="Email:" />
								<p:inputText id="emailPessoa" size="40"
									value="#{mbPessoa.pessoa.email}" required="true"
									requiredMessage="Campo [Email] é obrigatório!">
									<f:validator validatorId="emailValidator" />
								</p:inputText>

								<h:outputLabel for="cpfPessoa" value="CPF:" />
								<p:inputText id="cpfPessoa" size="40"
									value="#{mbPessoa.pessoa.cpf}" required="true"
									requiredMessage="Campo [CPF] é obrigatório!">
									<f:validator validatorId="cpfValidator" />
								</p:inputText>

								<h:outputLabel for="dataNascimentoPessoa"
									value="Data Nascimento:" />
								<p:calendar id="dataNascimentoPessoa" size="40"
									value="#{mbPessoa.pessoa.dataDeNascimento}" required="true"
									requiredMessage="Campo [Data Nascimento] é obrigatório!"
									locale="pt_BR" navigator="true" effect="explode"
									pattern="dd/MM/yyyy" />

								<h:outputLabel for="usuario" value="Nome de Usuário:" />
								<p:inputText id="usuario" value="#{mbPessoa.pessoa.login}"
									size="30" />

								<h:outputLabel for="senha" value="Senha:" />
								<p:password id="senha" size="30" maxlength="22"
									promptLabel="Digite sua Senha" value="#{mbPessoa.confereSenha}"
									weakLabel="Senha Fraca" goodLabel="Senha Boa"
									strongLabel="Senha Forte" feedback="true" />

								<h:outputLabel for="senhaconf2" value="Confirmar Senha:" />
								<p:password id="senhaconf2" size="30"
									value="#{mbPessoa.pessoa.senha}" maxlength="22"
									promptLabel="Confirme sua senha" weakLabel="Senha Fraca"
									validator="passwordValidator" goodLabel="Senha Boa"
									strongLabel="Senha Forte" feedback="true"/>									
							</h:panelGrid>
						</p:panel>
					</p:tab>

					<p:tab title="Informações do Endereço" id="infoEndereco">
						<p:panel header="Informações do Endereço">
							<p:growl id="msg1" />
							<h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid"
								id="grid1">

								<h:outputLabel for="uf" value="Estado:" />
								<p:selectOneMenu id="uf"
									value="#{mbPessoa.endereco.estado.idEstado}">
									<f:selectItems value="#{bbEstado.estados}" var="estado"
										itemValue="#{estado.idEstado}" itemLabel="#{estado.nome}" />
								</p:selectOneMenu>


								<h:outputLabel for="cidade" value="Cidade:" />
								<p:selectOneMenu id="cidade"
									value="#{mbPessoa.endereco.cidade.idCidade}">
									<f:selectItems value="#{bbCidade.cidades}" var="cidade"
										itemValue="#{cidade.idCidade}" itemLabel="#{cidade.nome}" />
								</p:selectOneMenu>


								<h:outputLabel for="bairro" value="Bairro:" />
								<p:inputText id="bairro" size="60"
									value="#{mbPessoa.endereco.bairro}" required="true"
									requiredMessage="É obrigatório o preenchimento do campo [Bairro]"
									onkeyup="this.value = this.value.toUpperCase()" />

								<h:outputLabel for="idTipoEndereco" value="Tipo de Endereço:" />
								<p:selectOneMenu id="idTipoEndereco"
									value="#{mbPessoa.endereco.tipoendereco.idTipoEndereco}">
									<f:selectItems value="#{bbTipoEndereco.tipoEnderecos}"
										var="tipoEndereco" itemValue="#{tipoEndereco.idTipoEndereco}"
										itemLabel="#{tipoEndereco.descricaoTipoEndereco}" />
								</p:selectOneMenu>

								<h:outputLabel for="idTipoLogradouro"
									value="Tipo de Logradouro:" />
								<p:selectOneMenu id="idTipoLogradouro"
									value="#{mbPessoa.endereco.tipologradouro.idTipoLogradouro}">
									<f:selectItems value="#{bbTipoLogradouro.tipoLogradouros}"
										var="tipoLogradouro"
										itemValue="#{tipoLogradouro.idTipoLogradouro}"
										itemLabel="#{tipoLogradouro.descricaoTipoLogradouro}" />
								</p:selectOneMenu>

								<h:outputLabel for="nomelogradouro" value="Logradouro:" />
								<p:inputText id="nomelogradouro" size="75"
									value="#{mbPessoa.endereco.nomeLogradouro}" required="true"
									requiredMessage="É obrigatório o preenchimento do campo [Logradouro]"
									onkeyup="this.value = this.value.toUpperCase()" />

								<h:outputLabel for="cep" value="CEP:" />
								<p:inputMask id="cep" size="10" value="#{mbPessoa.endereco.cep}"
									mask="99999-999" required="true"
									requiredMessage="É obrigatório o preenchimento do campo [CEP]" />

								<h:outputLabel for="numero" value="Número:" />
								<p:inputText id="numero" size="8"
									value="#{mbPessoa.endereco.numero}" required="true"
									requiredMessage="É obrigatório o preenchimento do campo [Número]" />

								<h:outputLabel for="complemento" value="Complemento:" />
								<p:inputText id="complemento" size="20"
									value="#{mbPessoa.endereco.complemento}"
									onkeyup="this.value = this.value.toUpperCase()" />

								<p:panel>
									<p:commandButton value="Salvar" action="#{mbPessoa.addPessoa}"
										icon="ui-icon ui-icon-disk" update="@form" />
									<p:commandButton value="Cancelar"
										actionListener="#{mbPessoa.flushPessoa}"
										icon="ui-icon ui-icon-close" update="@form" />
								</p:panel>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</p:wizard>
			</h:form>

		</p:fieldset>
	</ui:define>

</ui:composition>