<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="./../resources/main.xhtml">

	<ui:define name="tarefas">
		<p:fieldset legend="Cadastrar Cidades">
			<br />
			<p:tabView dynamic="true" id="tbv1">
				<p:tab title="Cidade">
					<h:form prependId="false" id="formCidade">
						<p:growl id="msg0" for="formCidade" />
						<h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid"
							id="grid">
							<h:outputLabel value="" />
							<h:inputHidden id="idcidade" value="#{mbCidade.cidade.idCidade}" />
							<h:outputLabel for="nomecidade" value="Nome:" />
							<p:inputText id="nomecidade" size="40"
								value="#{mbCidade.cidade.nome}"
								onkeyup="this.value = this.value.toUpperCase()" required="true"
								requiredMessage="O campo [Nome] é obrigatório!" />
							<p:panel>
								<p:commandButton value="Salvar" action="#{mbCidade.addCidade}"
									icon="ui-icon ui-icon-disk" update="@form :formtable" />
								<p:commandButton value="Cancelar"
									action="#{mbCidade.flushCidade()}" icon="ui-icon ui-icon-close"
									update="@form" />
							</p:panel>
						</h:panelGrid>
					</h:form>
				</p:tab>
			</p:tabView>

			<h:form id="formtable">
				<p:growl id="msg1" />
				<p:dataTable id="idTabela" var="cidade" value="#{mbCidade.cidades}"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
					{PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rows="10" rowsPerPageTemplate="5,10,15"
					emptyMessage="Nenhum registro encontrado">
					<f:facet name="header">Lista de Cidades</f:facet>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Nome" />
						</f:facet>
						<h:outputText value="#{cidade.nome}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Ações" />
						</f:facet>
						<p:commandButton value="Editar" icon="ui-icon ui-icon-pencil"
							process="@this" update=":tbv1:formCidade">
							<f:setPropertyActionListener value="#{cidade}"
								target="#{mbCidade.cidade}" />
						</p:commandButton>
						<p:commandButton value="Excluir" icon="ui-icon ui-icon-close"
							process="@this" update="@form" action="#{mbCidade.deleteCidade}">
							<f:setPropertyActionListener value="#{cidade}"
								target="#{mbCidade.cidade}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

		</p:fieldset>
	</ui:define>

</ui:composition>