<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="./../resources/main.xhtml">

	<ui:define name="tarefas">
		<h:form>
			<p:growl id="msg0" />

			<p:dataTable id="idTabela" var="pessoa" value="#{mbPessoa.pessoas}"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
					{PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rows="10" rowsPerPageTemplate="5,10,15"
				emptyMessage="Nenhum registro encontrado">
				<f:facet name="header">Lista de Pessoas</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Email" />
					</f:facet>
					<h:outputText value="#{pessoa.email}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Telefone" />
					</f:facet>
					<h:outputText value="#{pessoa.telefone}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Cidade" />
					</f:facet>
					<h:outputText value="#{pessoa.endereco.cidade.nome}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Ações" />
					</f:facet>
					<p:commandButton value="Editar" icon="ui-icon ui-icon-pencil"
						update="@form" action="#{mbPessoa.editPessoa}" ajax="false">
						<f:setPropertyActionListener value="#{pessoa}"
							target="#{mbPessoa.pessoa}" />
						<f:setPropertyActionListener value="#{pessoa.idPessoa}"
							target="#{mbPessoa.pessoa.idPessoa}" />
						<f:setPropertyActionListener value="#{pessoa.endereco}"
							target="#{mbPessoa.endereco}" />
						<f:setPropertyActionListener
							value="#{pessoa.endereco.estado.idEstado}"
							target="#{mbPessoa.endereco.estado.idEstado}" />
						<f:setPropertyActionListener
							value="#{pessoa.endereco.cidade.idCidade}"
							target="#{mbPessoa.endereco.cidade.idCidade}" />
						<f:setPropertyActionListener
							value="#{pessoa.endereco.tipoendereco.idTipoEndereco}"
							target="#{mbPessoa.endereco.tipoendereco.idTipoEndereco}" />
						<f:setPropertyActionListener
							value="#{pessoa.endereco.tipologradouro.idTipoLogradouro}"
							target="#{mbPessoa.endereco.tipologradouro.idTipoLogradouro}" />
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon ui-icon-close"
						process="@this" update="@form" action="#{mbPessoa.flushPessoa()}">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>