<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/restrict/css/jsf.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/restrict/images/favicon.ico"
		rel="shortcut icon" type="image/x-icon" />
	<title>Login</title>
</h:head>
<h:body onload="dialog.login.j_username.focus()">

	<div id="topo">

	</div>

	<div id="conteudo" title="Área Restrita">
		<h:form>
			<p:growl id="msg" rendered="#{param.erro}">#{msgs.erro_message}</p:growl>
		</h:form>

		<p:dialog header="Área Restrita" id="dialog" modal="true"
			minWidth="380" width="380" closable="false" position="center"
			widgetVar="modalLogin" showEffect="slide" draggable="false"
			resizable="false" visible="true">


			<form action="j_spring_security_check" method="post" id="login">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel for="j_username" value="Usuário: " />
					<h:inputText id="j_username" required="true" />
					<h:outputLabel for="j_password" value="Senha: " />
					<h:inputSecret id="j_password" required="true" />
					<h:commandButton value="Acessar" />
				</h:panelGrid>
			</form>
		</p:dialog>
	</div>
</h:body>
</html>
